---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Exploring the Universe's <strong>Mysteries</strong></h1>
<br>
<h2>Posts</h2>
<section><a href="/blog1/">The Endless Search for Exoplanets</a></section>
<br>
<section><a href="/blog2/">Stars: The Cosmic Beacons of Light and Life</a></section>